<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116885932645-2inal8of38k98njtd6sq8ckpisa4nvrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116885932645-2inal8of38k98njtd6sq8ckpisa4nvrk</string>
	<key>API_KEY</key>
	<string>AIzaSyCbkPwh6qQXRvDBNpOgJ4dnQKAuenfQnDI</string>
	<key>GCM_SENDER_ID</key>
	<string>116885932645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>auth-e6e9d</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-e6e9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116885932645:ios:9e1ee626680d75b3f7948c</string>
</dict>
</plist>